<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/APCLesson1/src/edu/uwex/apc390/lesson1_4/Encapsulate.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.uwex.apc390.lesson1_4.Encapsulate"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="apc390oop"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="APCLesson1"/>
</launchConfiguration>
